<div class="row">
  <div class="col-xs-6 col-md-3">
    <% if (can? :create, Collection) && @collection.nil? %>
      <%= link_to('New Collection', new_collection_path) %>
    <% end %>
  </div>
</div>