<div class="col-md-12">
  <div class="group">
    <%= link_to("Edit", edit_profile_path(@profile), class: "btn btn-primary pull-right")%>
  </div>
  <h2><%= @profile.name%></h2>
  <h2><%= image_tag @profile.image_url(:profile_thumb).to_s %><h2>
</div>